* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;  
}

li {
    list-style: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 895px 2450px 150px; 

    header {
        grid-row: 1 / 2;

        height: 100vh;

        display: grid;
        grid-template-columns: 100px 1fr 100px;

        background-image: url("../img/header/bg.png");
        background-position: center center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        
        .header-content {
            grid-column: 2 / 3;

            display: grid;
            grid-template-rows: 172px 1fr;

            .header-top {
                grid-row: 1 / 2;
                display: flex;
                justify-content: space-between;
                align-items: center;

                nav {
                    ul {
                        display: flex;

                        li {
                            
                            margin: {
                                left: 35px;
                                right: 35px;
                            }

                            &:first-child {
                                margin: {
                                    left: 0;
                                }
                            }

                            &:last-child {
                                margin: {
                                    right: 0;
                                }
                            }

                            a {
                                color: white;
                                font-size: 18px;
                                letter-spacing: 0.35em;
                                line-height: 40px;

                                &:hover {
                                    color: #d74747;
                                }
                            }
                        }
                    }
                }
            }

            .title {
                grid-row: 2 / 3;
                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    color: white;
                    font-size: 60px;
                    letter-spacing: 0.6em;   
                    line-height: 70px;
                    font-weight: 300;
                }

                a {
                    color: #d74747;
                    font-size: 30px;
                    letter-spacing: 0.4em;
                    line-height: 75px;
                }
            }
        }
    }

    main {
        grid-row: 2 / 3;

        display: grid;
        grid-template-rows: 1600px 850px;

        .main-section_1 {
            grid-row: 1 / 2;

            display: grid;
            
            grid-template-columns: 100px 1fr 100px;
            grid-template-rows: 100px 1fr 100px;

            .main-section-content_1 {
                display: grid;
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                
                grid-template-columns: 1fr 50px 1fr 50px 1fr;
                grid-template-rows: 360px 50px 360px 50px 580px;

                .img {
                    display: grid;
                    grid-template-columns: 40px 1fr;
                    grid-template-rows: 1fr 40px;

                    align-items: end;

                    .img_content {
                        grid-column: 2 / 3;
                        grid-row: 1 / 2;

                        .title {
                            color: white;
                            font-size: 40px;
                            letter-spacing: 0.4em;
                            line-height: 45px;
                            font-weight: 300;
                        }
                    }                  
                }

                .img_1 {
                    grid-template-columns: 60px 1fr;
                    grid-template-rows: 1fr 60px;

                    grid-column: 1 / 4;
                    grid-row: 1 / 4;

                    background-image: url("../img/main/section_1/bg/img_1.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;

                    .img_content {

                        .title {
                            font-size: 60px;
                            line-height: 70px;
                        }
                    }
                }
    
                .img_2 {
                    grid-column: 5 / 6;
                    grid-row: 1 / 2;

                    background-image: url("../img/main/section_1/bg/img_2.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
    
                .img_3 {
                    grid-column: 5 / 6;
                    grid-row: 3 / 4;

                    background-image: url("../img/main/section_1/bg/img_3.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
    
                .img_4 {
                    grid-column: 1 / 2;
                    grid-row: 5 / 6;

                    background-image: url("../img/main/section_1/bg/img_4.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
    
                .img_5 {
                    grid-column: 3 / 4;
                    grid-row: 5 / 6;

                    background-image: url("../img/main/section_1/bg/img_5.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }            
    
                .img_6 {
                    grid-column: 5 / 6;
                    grid-row: 5 / 6;

                    background-image: url("../img/main/section_1/bg/img_6.png");
                    background-position: center center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                }
            } 
        }

        .main-section_2 {
            grid-row: 2 / 3;

            width: 100%;

            display: flex;
            justify-content: center;
            align-items: center;
            
            background-image: url("../img/main/section_2/sec2bg.png");
            background-position: center center;
            background-size: 100% 100%;
            background-repeat: no-repeat;

            .title {
                text-align: center;

                h4 {
                    color: white;
                    font-size: 60px;
                    letter-spacing: 0.6em;
                    line-height: 70px;
                    font-weight: 300;
                }

                a {
                    color: #d74747;
                    font-size: 30px;
                    letter-spacing: 0.4em;
                    line-height: 75px;
                    font-weight: 900;
                }
            }
                   
        }
    }

    footer {
        display: grid;
        grid-row: 3 / 4;

        grid-template-columns: 100px 1fr 100px;
        grid-template-rows: 1fr;

        .footer-section {
            grid-column: 2 / 3;
            grid-row: 1 / 2;

            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr 60px;

            .footer-section-content {
                grid-column: 1 / 2;
                grid-row: 2 / 3;

                display: flex;
                justify-content: space-between;

                ul {
                    display: flex;
                    
                    li {
                        display: flex;
                        align-items: center;
                        a {
                            color: #202020;
                            font-size: 18px;
                            letter-spacing: 0.35em;
                            line-height: 40px;

                            &:hover {
                                color: #d74747;
                            }
                        }
                    }           
                }

                .info {
                    li {
                        margin: {
                            left: 37px;
                            right: 37px;
                        }

                        &:first-child {
                            margin: {
                                left: 0;
                            }
                        }

                        &:last-child {
                            margin: {
                                right: 0;
                            }
                        }
                    }
                }

                .soc {
                    li {
                        margin: {
                            left: 20px;
                            right: 20px;
                        }

                        &:first-child {
                            margin: {
                                left: 0;
                            }
                        }

                        &:last-child {
                            margin: {
                                right: 0;
                            }
                        }

                        a {
                            display: flex;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }
}

